In [ ]:
import numpy as np
import pandas as pd
import seaborn as sns   
import matplotlib.pyplot as plt

In [ ]:
# The necessary libraries have been imported

In [ ]:
df1 = pd.read_csv('Data.csv')
df2 = pd.read_csv('item.csv')
df3 = pd.read_csv('user.csv')

In [ ]:
# The data frames have now been read

In [ ]:
df1.shape

In [ ]:
df1.info()

In [ ]:
df1.describe()

In [ ]:
df2.shape

In [ ]:
df2.info()

In [ ]:
df2.describe()

In [ ]:
df3.shape

In [ ]:
df3.info()

In [ ]:
df3.describe()

In [ ]:
# executed shape, info and describe for dataframes above

In [ ]:
df1.isnull()
# Indicates no null values in the table

In [ ]:
df1.isnull().sum()
# Calculates the sum of all null values

In [ ]:
df2.isnull().sum()

In [ ]:
df3.isnull().sum()

In [ ]:
# There are no null values in the data frames

In [ ]:
#4
col_list=list(df2)
col_list.remove('movie id')
col_list.remove('movie title')
col_list.remove('release date')
df2[col_list].sum()

In [ ]:
#5
df2[df2[col_list].sum(axis=1)>1]

In [ ]:
#6
df2=df2[df2.unknown!=1]
df2.shape # This shows that the row which had genre as 'unknown' is dropped as the row count became 1680 to 1681

In [ ]:
#7
sns.distplot(df3['age'])

In [ ]:
sns.countplot(df1['rating'])

In [ ]:
sns.countplot(df3['gender'])

In [ ]:
oc= sns.countplot(df3['occupation'])
oc.set_xticklabels(oc.get_xticklabels(), rotation=40, ha="right")

In [ ]:
a=df2['release date']
b=a.str[-4:]
print(b)

In [ ]:
min(b),max(b)

In [ ]:
sns.distplot(b,kde=False)

In [ ]:
df4=df2
df4.insert(1,"Year",df2['release date'].str[-4:])

In [ ]:
df4

In [ ]:
col1=list(df4)
col1.remove('movie id')
col1.remove('movie title')
col1.remove('release date')
col1.remove('Year')
col1

In [ ]:
df5= df4.groupby("Year")[col1].sum()
df5

In [ ]:
sns.heatmap(df5,vmax=50,cmap="Greens")

In [ ]:
#9
df1.head()

In [ ]:
df2.head()

In [ ]:
df6= pd.merge(df2,df1,on='movie id')
df6

In [ ]:
df7= df6.groupby("movie title")["rating"].count().sort_values(ascending=False)
df7.head(25)

In [ ]:
df8= df6.groupby("movie title")["rating"].mean().sort_values(ascending=False)
df8.head(25)

In [ ]:
# Above are the names of the movies with the highest rating

In [ ]:
#10
df9=pd.merge(df6,df3, on='user id')
df9

In [ ]:
df9.groupby(["Drama","gender"])["rating"].count()

In [ ]:
df9.groupby(["Sci-Fi","gender"])["rating"].count()

In [ ]:
df9.groupby(["Romance","gender"])["rating"].count()